/* *  {

/*  MELIKEY border: 1px solid red;

	background-color: yellowgreen;
	margin: 0;
	padding:0;
	color:saddlebrown;
} */


body {
    /* text-align: center ; */
    background-color:lightslategray;
    /* background: linear-gradient(327deg,rgba(85, 107, 47, 1) 0%, rgba(107, 142, 35, 1) 50%, rgba(143, 188, 143, 1) 100%); */
}

li {

}

header {
    /* background-color: darkolivegreen; */
    background: linear-gradient(327deg,rgba(85, 107, 47, 1) 0%, rgba(107, 142, 35, 1) 50%, rgba(143, 188, 143, 1) 100%);
}


footer {
    /* background-color: seagreen; */
}

/* 
h1 {
    font-size: 90px;
    color: lightseagreen;
}

p {
    font-size: 30px;
    
} */

a {
    color: darkblue;
    /* background-color: peachpuff; */
    text-decoration: none;
}

p {
    font-size: 26px;
}

/* p font-weight: bold; */
