/* *  {
	background-color: yellowgreen;
	margin: 0;
	padding:0;
	color:saddlebrown;
} */


/* body {
    text-align: center ;
    background-color: slategray;
}
*/

header {
    background-color: seagreen;
}


footer {
    background-color: seagreen;
}

/* 
h1 {
    font-size: 90px;
    color: lightseagreen;
}

p {
    font-size: 30px;
    
} */

a {
    color: darkblue;
    background-color: peachpuff;
    text-decoration: none;
}

p {
    color: olive;
    font-size: 26px;
}

/* p font-weight: bold; */
